/* GENERAL */

:root {
    /*
     * These are glboal variables, used in various elements.
     * Change them here to affect the entire style.
     */
    --color-black-rgb: 34, 34, 34;
    --color-black: rgb(var(--color-black-rgb));
    --color-whitish-rgb: 252, 252, 252;
    --color-whitish: rgb(var(--color-whitish-rgb));
    --color-primary: #3e68d0; /* #3F6CDE; */
    --color-primary-light: #718fd3; /* #668AE5; */
    --color-secondary: #ffc800;
    --font-family-roboto: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-montserrat: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html, body {
    font-family: var(--font-family-montserrat);
    color: var(--color-black);
}

a {
    color: var(--color-primary);
}

a:hover {
    color: var(--color-secondary);
}

.limit-vertical {
    max-height: 80vh;
}

section li {
    margin-bottom: 0.5rem;
}


/* HELPER CLASSES */
/*
 * These are classes which can be used on any element.
 */

.text-highlight {
    color: var(--color-primary);
}

.text-smallcaps {
    font-variant: small-caps;
}

.text-small {
    font-size: 85%;
}

.text-underline {
    text-decoration: underline;
}

/*
 * Add class .alternate-bg to a series of element to make
 * one every two of them have a background slightly darker than white.
 */
.alternate-bg:nth-of-type(even) {
    background-color: var(--color-whitish);
}

/* Change the color of striped tables when inside an .alternate-bg element */
.alternate-bg:nth-of-type(even) .table-striped>tbody>tr:nth-of-type(odd) {
    --bs-table-accent-bg: white;
}




/* BUTTON */

.btn.btn-primary {
    color: var(--color-whitish);
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    font-weight: 700;
    font-size: 1.25rem;
}

.btn.btn-primary:hover {
    color: var(--color-black);
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
}

/*
 * Add a little more space inside a button.
 */
.btn.btn-spaced {
    padding: 1.25rem 2.5rem;
}




/* NAVBAR */

nav.navbar .navbar-nav .nav-item {
    margin-right: 1rem;
}

nav.navbar .navbar-nav .nav-item:last-child {
    margin-right: 0;
}

nav.navbar .navbar-nav a.nav-link {
    color: var(--color-whitish);
    transition: transform 0.2s;
}

nav.navbar .navbar-nav a.nav-link:hover {
    color: var(--color-secondary);
    transform: scale(1.17);
    transform-origin: center left;
}

@media (min-width: 768px) {
    nav.navbar .navbar-nav a.nav-link:hover {
        transform-origin: unset;
    }
}

nav.navbar .navbar-brand {
    font-size: 2rem;
    font-weight: 700;
}




/* HEADER */

header.masthead {
    padding-top: 8rem;
    padding-bottom: 8rem;
    margin-top: -5cm;
    margin-bottom: -2cm;
    background-position: top center;
    /* background-size: 100% 100%;
    background-attachment: fixed;*/
    text-align: center;
    height:99vh !important;
    color: var(--color-whitish);
    /*
     * Blend with black (0, 0, 0) to darken the image, blend with white (255, 255, 255) to lighten it.
     * Change the alpha value (fourth number) from 0 to 1 to control the strength of the darkening/lightening.
     */
    /*  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, .4)), url("/assets/img/front112022_02.pdf");*/
    background-image: url("/assets/img/front112022_02.jpeg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: left;
    background-size: cover;
}


@media (min-width: 768px) {
    header.masthead {
        background-position: center center;
    }
}

header.masthead .masthead-heading {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 2.5rem;
    margin-bottom: 2rem;

    display: inline-flex;
    flex-direction: column;
}

header.masthead .masthead-subheading {
    font-size: 1.5rem;
    font-style: italic;
    line-height: 2rem;
    margin-bottom: 25px;
}

@media (min-width: 768px) {
    header.masthead {
      padding-top: 17rem;
      padding-bottom: 8rem;
    }
    
    header.masthead .masthead-heading {
        font-size: 4.5rem;
        font-weight: 700;
        line-height: 4.5rem;
        margin-bottom: 4rem;
    }

    header.masthead .masthead-subheading {
      font-size: 2.25rem;
      line-height: 3rem;
      margin-bottom: 5rem;
    }
}





/* SECTIONS */

section.page-section {
    padding: 2rem 0;
}

.heading-container {
    margin: 5rem 0 4rem 0;
}

section.page-section .section-heading {
    font-weight: 700;
}

section.page-section .section-subheading {
    font-family: var(--font-family-roboto);
    font-size: 1rem;
    font-style: italic;
}





/* PORTFOLIO */

.portfolio-item.rounded img, .portfolio-item.rounded .portfolio-link, .portfolio-item.rounded .portfolio-hover {
    border-radius: 1rem;
}

.portfolio .portfolio-item .portfolio-link {
    position: relative;
    display: block;
    margin: 0 auto;
}

.portfolio .portfolio-item .portfolio-link .portfolio-hover {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--color-secondary);
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity ease-in-out 0.25s;
}

.portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    font-size: 1.25rem;
    color: var(--color-whitish);
}

.portfolio .portfolio-item .portfolio-link:hover .portfolio-hover {
    opacity: 1;
}

.portfolio .portfolio-item .portfolio-caption {
    padding: 1.5rem;
    text-align: center;
}

.caption-heading {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0;
}

.caption-subheading {
    font-style: italic;
    font-family: var(--font-family-roboto);
}





/* PEOPLE */

.person {
    margin-bottom: 3rem;
    text-align: center;
}

.person img {
    width: 14rem;
    height: 14rem;
    border: 0.5rem solid var(--color-whitish);
    object-fit: cover;
}

.person h4, .person .h4 {
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.btn-social {
    height: 2.5rem;
    width: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 100%;
}

.btn-social.dark {
    color: var(--color-whitish);
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.btn-social:hover, .btn-social.dark:hover {
    color: var(--color-black);
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
}




/* MAP */

.map {
    width: 100%;
    height: 80vh;
}




/* MINI CV */

.mini-cv .img-container img {
    border-radius: 15%;
    width: 100%;
}

.mini-cv .img-container, .mini-cv .details-container {
    margin-bottom: 2rem;
}

.mini-cv .details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mini-cv .details-container>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mini-cv .details-container>div>div {
    margin: 0 1rem 0 0;
}

.mini-cv .details-container hr {
    margin: 0.4rem 0;
}




/* TESTIMONIALS */
.testimonial.card {
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
}

.testimonial blockquote {
    margin-bottom: 1em;
}

.testimonial blockquote::before {
    content: "“"
}

.testimonial blockquote::after {
    content: "”"
}

.testimonial .source {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.testimonial .source .name {
    text-align: center;
}

.testimonial .source .qualification {
    text-align: center;
    font-style: italic;
}

.testimonial img {
    width: 30%;
    margin: 0 !important;
}

.extended-testimonial .float-start{
    width: 30%;
    max-width: 15em;
    margin-right: 1em;
}

.extended-testimonial img{
    width: 100%;
}

.extended-testimonial .translate {
    color: var(--color-primary);
}




/* BUSINESS CARD */

.business-card-container {
    display: flex;
    justify-content: center;
}

.business-card {
    display: inline-flex;
    flex-direction: column;
    background: var(--color-black);
    color: var(--color-whitish);
    padding: 2rem;
    border-radius: 2rem;
    word-break: break-all;

    /* Slightly change font size to adapt to the screen size. */
    font-size: clamp(0.9rem, 2vw, 1rem);
}

.business-card a {
    color: var(--color-primary-light);
}

.business-card a:hover {
    color: var(--color-secondary);
}

.business-card .details {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
}

.business-card .details .img-container {
    display: inline-block;
    width: 8rem;
    margin-right: 1rem;
}

.business-card .details .contacts-container {
    display: inline-block;
    width: 75%;
}

.business-card .details .contacts-container>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.business-card .details .contacts-container>div>div {
    margin: 0 0.5rem 0.5rem 0;
}

.business-card .img-container img {
    width: 100%;
}

.business-card .social {
    display: flex;
    justify-content: space-around;
}




/* CAROUSEL */


.carousel-caption {
    position: relative;
    left: 0;
    top: 0;
}

.carousel-dark .carousel-caption.fill-bg {
    background-color: var(--color-black);
    color: var(--color-whitish);
}

.carousel-light .carousel-caption.fill-bg {
    background-color: var(--color-whitish);
    color: var(--color-black);
}

@media (min-width: 768px) {
    .carousel-caption {
        position: absolute;
        top: unset;
        left: 0;
        right: 0;
        bottom: 0;
        padding-bottom: 2.5rem;
        padding-left: 15%;
        padding-right: 15%;
    }

    .carousel-dark .carousel-caption.fill-bg {
        background-color: rgba(var(--color-black-rgb), .8);
    }

    .carousel-light .carousel-caption.fill-bg {
        background-color: rgba(var(--color-whitish-rgb), .8);
    }
}




/* FOOTER */

footer {
    color: var(--color-whitish);
    padding: 3rem 1rem 0 1rem;
}

footer a {
    color: var(--color-primary-light);
}

footer a:hover {
    color: var(--color-secondary);
}

footer .row div {
    margin-bottom: 2em;
}

footer .contact-table td {
    padding: 0.2rem;
}